<footer style="position: absolte;
bottom: 0;
 width: 100%;
 height: 205px; " id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Power By: </small>
        <br>
        
      <small>Copyright &copy; Universidad Francisco de Paula Santander</small>
      
      <small>
          <script type="text/javascript">
            copyright=new Date();
            update=copyright.getFullYear();
            document.write(update);

        </script>
        </small>
    </div>
    
  </footer>