<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign Up</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post">
                     <div class="form-group">
                         <input type="text" name="name" placeholder="Nombres" class="form-control" autofocus>
                     </div>
                     <div class="form-group">
                         <input type="text" name="secondname" placeholder="Apellidos" class="form-control">
                     </div>
                     <div class="form-group">
                         <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                     </div>
                     <script>
                        
                        const username = document.querySelector('#username');

                        fetch('https://pcami-web.herokuapp.com/links/verificando')
                            .then( resp => resp.json())
                            .then((resp)=>{
                                const respuesta = resp;
                                username.addEventListener('keyup', ({keycode})=>{
                                    
                                    for(let i = 0; i < respuesta.length; i++){
                                        if(respuesta[i].username === username.value){
                                            window.alert('Este username ya esta en uso');
                                            username.value = '';
                                        }
                                    }
                                    
                                })
                            })

                        
                     </script>
                     <div class="form-group">
                         <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                     </div>
                     <div class="form-group">
                         <div class="form-group">
                         <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                     </div>
                     <div class="form-group">
                         <input type="email" id="email" name="email" placeholder="Correo Electronico" class="form-control">
                     </div>
                     <script>
                        
                        const email = document.querySelector('#email');

                        fetch('https://pcami-web.herokuapp.com/links/verificandoEmail')
                            .then( resp => resp.json())
                            .then((resp)=>{
                                const respuesta = resp;
                                email.addEventListener('keyup', ({keycode})=>{
                                    
                                    for(let i = 0; i < respuesta.length; i++){
                                        if(respuesta[i].email === email.value){
                                            window.alert('Este email ya esta en uso');
                                            email.value = '';
                                        }
                                    }
                                    
                                })
                            })

                        
                     </script>
                     <div class="form-group">
                         <input type="password" name="password" placeholder="Contraseña" class="form-control">
                     </div>
                     <div class="form-group">
                         <button type="submit" class="btn btn-success btn-block">
                             Sign Up
                         </button>
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

